button{
  background-color: #297fb8;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
nav{
  position: relative;
  display: inline-block;
}
div{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}  
div a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
div a:hover, div a:focus{
  background-color: #dddddd;
}  
nav:hover button, nav:focus button{
  background-color: #3199dd;
}
.show{
  display: block;
}