@font-face {
    font-family: function pro;
    font-weight: 400;
    font-style: normal;
    src: url(function-pro-regular-latin-webfont.woff2) format("woff2");;
    font-display: swap;
}
body{
    font-family: function pro;
}